body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #007958;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #36454F;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    /* label text color */
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #007958;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
